
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    max-width: 960px;
    margin: auto;
}
h1 {
    font-size: 3em;
    letter-spacing: .6em;
    padding-top: 1em;
    padding-bottom: 1em;
}

h2 {
    font-size: 1.5em;
    padding-bottom: 1em;
}

h3 {
    font-size: 1em;
    padding-bottom: 1em;
}

main { 
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 3em;
}
header {
    margin: 2em auto;
    padding: 20px;
    max-width: 960px;
}

section {
    margin: auto 1em 4em 2em;
}

i {
    margin-right: .5em;
}

p {
    margin: .2em auto
}

hr {
    border: none;
    background-color: lightgray;
    height: 1px;
}

h1, h2, h3 {
    font-weight: 100;
    margin-bottom: 0;
}
#mainLeft {
    border-right: 1px solid lightgray;
}


#header {
    padding: 20px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* sola hizalama */
    gap: 20px;
}

.profile-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #444;
    flex-shrink: 0; /* Fotoğrafın küçülmesini engeller */
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#lang-toggle {
  position: fixed;
  top: 10px;
  right: 10px;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px 12px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
#lang-toggle:hover {
  background: #0078d7;
  color: white;
  transform: scale(1.1);
}